.tiledBackground {
    font-family: 'Lato';
    background-image: url('../images/tiles/blue-circles.png');
    background-repeat: round;
    overflow-x: hidden;
    background-size: 50px;
    padding: 0px;
    margin: 0px;
    
}

.container {

    width: auto;
    height: auto;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border: 10px solid black;
}

.box {
    border: 1px solid red;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
}

.fillImg {
    max-width: 100%;
    max-height: 100%;
}

.bgLayer {
    width: vw;
    height: vh;
    z-index: 100;
}

.sm {
    width: 20px;
    height: 20px;
}

.md {
    width: 40px;
    height: 40px;
}

.lg {
    width: 80px;
    height: 80px;
}

.xl {
    width: 160px;
    height: 160px;
}

.top {
    top: 0
}

.middle {
    top: 50%;
    /*half of the .box height*/
}

.bottom {
    bottom: 0
}

.left {
    left: 0;
}

.center {
    left: 50%;
    /*half of the .box width*/
}

.right {
    right: 0;
}