#tiledBackground {
    /* background-image: url('../images/tiles/blue-circles.png'); */
    background-color: black;
}

* {
    color: white;
}

p {
    color: white;
    text-align: center;
    display: block;
}

div.foreground {
    position: absolute;
    padding: 0;
    margin: auto;
    width: 100%;
    bottom: 0;
    height: 50%;
    border: 2px rgba(24, 124, 116, 0.733) dotted;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    position: absolute;
    padding: 0;
    margin: calc(8% - 2px);
    width: 84%;
    height: 84%;
    border: 2px rgba(177, 91, 21, 0.718) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}