* {
    box-sizing: border-box;
    margin: 0;
}

.tiledBackground {
    font-family: 'Lato';
    background-image: url('../images/tiles/blue-circles.png');
    background-repeat: repeat;
    background-size: 50px;
    width: 100vw;
    height: auto;
    border: 2px solid;
    color: pink;
}

.btn {
    border: 5mm;
    color: black;
    padding: 16px 32px;
    text-align: center;
    background-color: yellow;
    display: inline-block;
    text-decoration: none;
}

.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: blue;
}

p {
    font-size: 6em;
    color: white;
}

.centeredImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centeredText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    max-height: 100vh;
    width: auto;
}

.horizontal {
    max-width: 100vw;
    height: auto;
}

.fullscreen {
    width: 100vh;
    height: auto;
}

.honeyBack {
    padding-top: 40vh;
    padding-bottom: 40vh;
    background: url(../images/full-size/honey.jpg) center/cover;
}